@import url("colors.css");

header {
  width: 96%;
  margin-left: 2%;
  position: fixed;
  top: 0;
  height: 60px;
  display: flex;
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--text);
  font-size: 2rem;
  font-weight: 700;
  margin-left: 1rem;
}

#btn-open-search {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  header {
    height: 50px;
    width: 90%;
    margin-left: 5%;
  }
  .title {
    margin-left: 0;
    font-size: 1.5rem;
  }
}
