@import url("colors.css");
/*--------------------------------------*/
/* Responsive style                     */
/*--------------------------------------*/

@media screen and (max-width: 450px) {
  header {
    height: 50px;
    width: 90%;
    margin-left: 5%;
    border-bottom: 1px solid var(--gray);
  }
  .title {
    margin-left: 0;
    font-size: 1.5rem;
  }
  .book-search-container {
    width: 100%;
    min-height: calc(100vh - 70px);
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: var(--white);
  }
  .input {
    font-size: 0.9rem;
    background-color: var(--white);
    width: 90%;
  }
  .research-books-card > img {
    width: 45px;
  }

  .research-books-card > div > legend {
    font-size: 0.7rem;
  }
}
