@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");

/*--------------------------------------*/
/* Files import                         */
/*--------------------------------------*/

@import url("colors.css");
@import url("search_popUp.css");
@import url("responsive.css");
@import url("preview_popUp.css");
/*--------------------------------------*/
* {
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

/*--------------------------------------*/
/*           Header style               */
/*--------------------------------------*/
header {
  width: 96%;
  margin-left: 2%;
  height: 80px;
  display: flex;
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--text);
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  margin-left: 1rem;
}

#btn-open-search {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
}
