/*--------------------------------------*/
/* Files import                         */
/*--------------------------------------*/

@import url("colors.css");
@import url("search_popUp.css");
@import url("grid.css");
@import url("header.css");

/*--------------------------------------*/
* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
}
